# Dependency Packages of LINE BOT "Hakoirimusume"
#
# Only packages that require additional installation with pip are listed.
# (Dependent packages for each package are omitted.)
#
# Last modified: 2023/1/8
#   Environment:
#       - Raspberry Pi 4 Model B 8GB
#       - Raspberry Pi OS bullseye 64bit
#       - Python 3.9.2

Flask>=2.2.2
line-bot-sdk>=2.3.0
requests>=2.28.1
smbus2>=0.4.2
tomli>=2.0.1
